name: Run Scraper

on:
  workflow_dispatch:

jobs:
  run_scraper:
    runs-on: ubuntu-latest
    env:
      GOOGLE_SHEET_CREDS: ${{ secrets.GOOGLE_SHEET_CREDS }}
      TRADINGVIEW_EMAIL: ${{ secrets.TRADINGVIEW_EMAIL }}
      TRADINGVIEW_PASS: ${{ secrets.TRADINGVIEW_PASS }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run scraper
        run: python run_scraper.py
